*{
	margin:0;
	padding: 0;
}

body{
	background-image: url(../img/NFL.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

img{
	object-fit: cover;
}

.topo{
	height: 22px;
	width: 100%;
	background-color: black;

}

.line{
	height: 3px;
	width: 100%;
	background-color: #002754;
}

.topo_int{
	width: 100%;
	max-width: 980px;
	display: flex;
	margin: auto;
	height: 100px;
	
}

.topo_tittle{
	height: 100px;
	width: 500px;
	margin: auto;
	background-color: black;
	border-radius: 0px 0px 100px 100px;
	color: white;
	text-align: center;
	font-size: 39px;
	line-height: 100px;
	font-family: Kelly Slab;
}

j{
	color: #3f5d7e;
}

.menu{
	height: 35px;
}

.menu_int{
	width: 100%;
	max-width: 980px;
	display: flex;
	margin: auto;
	height: 35px;
	background-color: black;
	margin-top: 25px;
	color: white;
	font-family: Kelly Slab;
	font-size: 18px;
	line-height: 35px;
}

nav ul {
	display: flex;
	list-style: none;

}

nav ul li{
	padding-left: 27px;
	padding-right:27px;
}

nav a {
	text-decoration: none;
	line-height: 35px;
	color: #a9aaab;
	cursor: pointer;
	font-size: 15px;
}

#inicio{
	color: white;
	background-color: #25466d;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}


#sobre:hover{
	background-color: #25466d;
}

#blog:hover{
	color: white;
	text-align: center;
	padding-left: 17px;
	background-color: #25466d;
}

.banner{
	height: 410px;
}

.banner_int{
	height: 410px;
	width: 100%;
	max-width: 980px;
	display: flex;
	margin:auto;
	
	
}

#banner_1{
	display: flex;
	height: 410px;
	width: 100%;
}

#slide_1{
	display: flex;
	flex: 3;
	height: 410px;
}

#slide_1 img{
	
	object-fit: cover;

}

#slide_2 img{
	height: 410px;
	width: 100%;
	object-fit: cover;
}

.slick-slide img{
	width: 70%;
	    height: 410px;

}

.slick-slide{
	display: flex;
	flex: 4;
}

.slick-initialized .slick-slide
{
    display: flex;
}

ul.slick-dots{
	display: none !important;
}

li.slick-active {
	display: none;
}




#cont_1{
	display: flex;
	flex: 1;
	background-color: #002754;
	flex-direction: column;
}

#cont_2{
	display: flex;
	flex: 1;
	background-color: #002754;
	flex-direction: column;
}


button.slick-prev{
	font-size: 0;
	border:none;
	height: 51px;
	width: 25px;
	background-color:transparent;
	position: absolute;
}

button.slick-next {
   font-size: 0;
	border:none;
	display: none;
}

#cont_1{
	display: flex;
	flex: 1;
	
}

#text_tittle{
	font-family: Kelly Slab;
	color: white;
	font-size: 21px;
	padding: 10px;
}

#cont_text{
	font-family: Kelly Slab;
	color: white;
	font-size: 15px;
	padding: 10px;
}

.text_absolute{
	position: absolute;
	height: 100px;
	width: 675px;
	margin-top: -130px;
	margin-left: 185px;
	border:3px solid black;
	background-color: #00132A;
}

.cont_ingress{
	font-size: 31px;
	color: #FFFFFF;
	font-family: Fredericka the Great;
	height: 76px;
	width: 580px;
	 margin-top: 12px;
    margin-left: 45px;
}

.container_1{
	height: 180px;
}

.container_1_int{
	height: 180px;
	width: 100%;
	max-width: 980px;
	display: flex;
	margin: auto;
	margin-top: 20px;
}

.calendario{
	flex: 3;
	display: flex;
	margin-right: 15px;
}

#esq{
	margin-right: -30px;
	margin-top: 25px;
	height: 130px;

}

#dir{
	margin-left: -30px;
	margin-top: 25px;
	height: 130px;
}
#calendario_int{
	height: 100%;
	width: 530px;
	background-color: black;
	margin:auto;
	color: white;
 	font-size: 31px;
 	font-family: Fredericka the Great;
 	padding-top: 10px;
 	text-align: center;
}

#emblemas{
	height: 100px;
	margin-top: 20px;
}

#emblemas img{
	height: 80px;
	width: 100px;

}

#ingressos{
	height: 50px;
	width: 125px;
	color: white;
	font-size: 15px;
	background-color:#820013; 
	border:none;
	border-radius: 10px;
	
}

.loja{
	flex: 2;
	display: flex;
	background-color: #00132A;
 }

 .leftside{
 	display: flex;
 	flex: 3;
 	flex-direction: column;
 }



 .rigthside{
 	display: flex;
 	flex: 2;
 	align-items: center;
 }

  .rigthside img{
  	height: 70%;
  	width: 70%;
  	object-fit: cover;

  }

 #tittle_left{
 	font-size: 31px;
 	font-family: Fredericka the Great;
 	color: white;
 	text-align: center;
 	margin-top: 10px;
 	margin-left: 5px;
 }

#btn{
 	height: 35px;
 	width: 155px;
 	margin-top: 20px;
 	margin-left: auto;
 	margin-right: auto;
 	background-color: #002754;
 	border:none;
 	color: white;
 	border-radius: 10px;
 }



 .aaa{
 	height: 1000px;
 }

 .interacao{
 	height: auto;
 	margin-top: 30px;
 	

 }

 .interacao_int{
 	width: 100%;
 	max-width: 980px;
 	display: flex;
 	margin: auto;
 	height: auto;
 }

 #video{
 	display: flex;
 	flex: 3;
 	background-color: #00132A;
 	flex-direction: column;

}

#video_tittle{
	font-size: 24px;
 	font-family: Kelly Slab;
 	color: white;
 	padding-left: 20px;
 	display: flex;
 	flex: 1;
 	padding-top: 20px;

}

#video_cont{
	display: flex;
	flex: 7;
	background-color: #00132A;
}

 iframe{
 	margin: auto;
 }


 #fas{
 	display: flex;
 	flex: 2;
 	background-color: black;
 	margin-left: 20px;
 	flex-direction: column;
 }

#fas_tittle{
	font-size: 24px;
 	font-family: Kelly Slab;
 	color: white;
 	padding-left: 20px;
 	display: flex;
 	flex: 1;
 	padding-top: 20px;
}

#fas_cont{
	display: flex;
	flex: 7;
	
	color: white;
	font-size: 19px;
	font-family: Kelly Slab;
	font-style: italic;
	margin: 15px;
}

.info{
	height:auto;
	margin-top: 30px;

}

.info_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
	height: auto;
}

#novidades{
	display: flex;
 	flex: 3;
 	background-color: black;
 	flex-direction: column;
}

#novidades_tittle{
	display: flex;
	flex: 1;
	font-size: 24px;
	font-family: Kelly Slab;
	color: white;
	padding-left: 20px;
	line-height: 40px;
}

#novidades_int{
	display: flex;
	flex: 6;
	font-size: 14px;
	font-family: Kelly Slab;
	color: white;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;

}

#leia_mais{
	display: flex;
	flex: 1;
}

#info_btn{
	height: 28px;
	width: 106px;
	background-color: black;
	color: #718BA9;
	font-size:18px;
	font-family: Kelly Slab;
	margin-left: 10px;
	border:none;
	margin-top: 15px;
	margin-bottom: 15px;

}




#tabela{
	display: flex;
 	flex: 2;
 	background-color: black;
 	margin-left: 20px;
 	flex-direction: column;
 	background-color: #00132A;
}

#tabela_int{
	display: flex;
	flex: 1;
	color: white;
	font-size: 24px;
	font-family: Kelly Slab;
	padding-left: 20px;
	line-height: 40px;
}

#jogos_int{
	display: flex;
	flex: 7;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: Kelly Slab;

}

#ingressos_int{
	display: flex;
	flex: 1;
	justify-content: center;
}

#ing{
	height: 35px;
	width: 130px;
	color: white;
	background-color: #820013;
	border:none;
	margin-bottom: 20px;

}

.cont_2{
	height:150px;
	margin-top: 30px;

}

.cont_2_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
	height: 150px;
}

#vendas_ing{
	display: flex;
	flex: 3;
	background-color: #00132A;
	
}

#vendas_ing_tittle{
	font-size: 27px;
    color: #FFFFFF;
    font-family: Fredericka the Great;
    background-color: #00132A;
    margin: auto;
    text-align: left;
    display: flex;
    flex: 6;
    margin-left: 20px;
}

#btn_ing{
	display: flex;
	flex: 1;
}

#btn_red{
	height: 35px;
	width: 110px;
	color: white;
	background-color: #820013;
	border:none;
	margin-bottom: 20px;
	margin: auto;
	border-radius: 10px;
	margin-right:10px;
}

#face{
	display: flex;
	flex: 2;
	margin-left: 20px;
	background-color: black;
}

#text_face{
	flex: 3;
	text-align: center;
	font-size: 24px;
	font-family: Kelly Slab;
	margin: auto;
	color: white;
}

#logo_face{
	display: flex;
	flex: 2;
	justify-content: center;

}

#logo_face img{
	height: 70%;
	width: 70%;
	margin-top: auto;
    margin-bottom: auto;
}

colorir{
	color: #718BA9;
}

.rodape {
	height: 228px;
	margin-top: 30px;
}

.rodape_int{
	width: 100%;
	max-width: 980px;
	margin: auto;
	display: flex;
	height: 228px;
	background-color: black;
	flex-direction: column;
}

#dvs{
	display: flex;
	flex: 5;
}

#cred{
	display: flex;
	flex: 1;
}

#col1{
	display: flex;
	flex: 1;

}

#col2{
	display: flex;
	flex: 1;
}

#col3{
	display: flex;
	flex:1;
}

#col4{
	display: flex;
	flex: 1.5;
	flex-direction: column;
}

#col1 img{
	height: 120px;
	width: 150px;
	margin: auto;
	object-fit: cover;
}

#col2 img{
	height: 120px;
	width: 180px;
	margin: auto;
	object-fit: cover;
}


#col3 img{
	height: 100px;
	width: 150px;
	margin: auto;
	object-fit: cover;
}

#rs1{
	display: flex;
	flex: 1;
}

#rs1 img{
	margin-top: auto;
	margin-bottom: auto;
}

p1,p2,p3 {
	margin-left: 20px;
	color: white;
	font-size: 18px;
	line-height: 60px;
	margin-right: 20px;

}

#redeSocial{
	height: 20px;
	width: 20px;
	background-color: #00132A;
	color: white;
	margin-top: auto;
	margin-bottom: auto;
	border:none;

}

#rs2{
	display: flex;
	flex: 1;
}

#rs2 img{
	margin-top: auto;
	margin-bottom: auto;
}

#rs3{
	display: flex;
	flex: 1;
}

#rs3 img{
	margin-top: auto;
	margin-bottom: auto;
}




#cred{
	font-size: 12px;
	color: white;
	font-family: Open Sans;
	padding-left: 30px;
}

.linha_1,.linha_2,.linha_3{
	height: 1px;
	background-color: #294e85;
	margin-top: 10px;
	padding-top: 6px;
	display: none;
	
}

.menuMobile{
	height: 60px;
	width: 60px;
	margin-bottom: 30px;
	margin-top: -10px;
    margin-left: 50px;
    display: none;
}



@media only screen and (min-width:768px) and (max-width:980px){

	.topo_int,
	.menu_int,
	.banner_int,
	.container_1_int,
	.interacao_int,
	.info_int,
	.cont_2_int,
	.rodape_int{
		max-width: 768px;
	}

	.banner,
	.banner_int{
		height: auto;
	}

	.interacao_int {
    flex-direction: column;
	}

	#fas{
		margin-left: 0px;
		margin-top: 20px;
	}

	.rigthside{
		display: none;
	}

	#dir,#esq{
		display: none;
	}

	#video_cont {
    margin-bottom: 40px;
	}

	#fas_cont{
		margin-bottom: 40px;
	}

	.rodape,.rodape_int{
		height: auto;
	}

	#dvs {
    display: flex;
    flex: 5;
    flex-wrap: wrap;
	}

	#col1,#col2,#col3{
		min-width: 250px;
	}

	#col4{
		flex-direction: row;
	}

	#rs1,#rs2,#rs3{
		 height: max-content;
	}

	p1, p2, p3 {
    margin-left: 20px;
    color: white;
    font-size: 12px;
    line-height: 60px;
    margin-right: 20px;
	}

	#rs2 {
    display: flex;
    flex: 1;
    margin-left: -15px;
}

	#rs1 {
    display: flex;
    flex: 1;
    padding-left: 15px;
}

#rs3 {
    display: flex;
    flex: 1;
    padding-left: 10px;
}

#cred{
	justify-content: center;
}

}	


@media only screen and (min-width:425px) and (max-width:767px){

	
	.menu_int,
	.banner_int,
	.container_1_int,
	.interacao_int,
	.info_int,
	.cont_2_int,
	.rodape_int{
		max-width: 425px;
	}

	.topo_int,
	.topo_tittle{
		max-width: 300px;
	}

	.topo_tittle{
		font-size: 22px;
	}

	nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    background-color: rgba(33,34,35,0.75);
    z-index: 9;
    position: absolute;
	}


	.linha_1,.linha_2,.linha_3{
		
	display: block;
	}


	.menuMobile{
	display: block;
	cursor: pointer;

	}

	.menu,.menu_int{
		height: auto;
	}

	#menuMenu{
		height: 60px;
	}


	.menuMobile{
		margin-top: 0px;
		height: 5px;
		margin-bottom: 50px;

	}

	.slick-initialized .slick-slide {
    display: flex;
    flex-wrap: wrap;
	}

	.banner,
	.banner_int{
		height: auto;
	}

	.slick-slide img {
    width: 100%;
    
	}

	.container_1 {
    height: auto;
     margin-top: 270px;
	}

	.container_1_int{
		height: auto;
		flex-direction: column;
	}


	#dir,#esq{
		display: none;
	}

	.calendario {
    flex: 3;
    display: flex;
    margin-right: 0px;
}

	#emblemas {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
	}

	.loja {
    flex: 2;
    display: flex;
    background-color: #00132A;
    margin-top: 20px;
}

.leftside {
    display: flex;
    flex: 3;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

.interacao{
	margin-top: 20px;
}

.interacao_int{
	flex-direction: column;
}

#fas {
    
     margin-left:0px;
     margin-top: 20px;
 }    
    
.info {
    height: auto;
    margin-top: 20px;
}

.info_int {
    flex-direction: column;
}

#tabela {
    
  margin-left: 0px;
   margin-top: 20px;
   
}

#jogos_int {
    padding-left: 15px;
}

.cont_2 {
    height: auto;
    margin-top: 20px;
}

.cont_2_int {
    width: 100%;
    margin: auto;
    display: flex;
    height: auto;
    flex-direction: column;
}

#vendas_ing_tittle {
    margin-top: 10px;
    margin-bottom: 10px;
}

#face {
    
    margin-top: 20px;
    margin-left: 0px;
}

.rodape {
    height: auto;
    margin-top: 20px;
    width: 100%;
}

.rodape_int{
	height: auto;
	width: 100%;
}

#dvs {
    display: flex;
    flex: 5;
    flex-wrap: wrap;
}

#col1,#col2,#col3 {
    display: flex;
    flex: 1;
    min-width: 100px;
}

#col1 img {
    height: 70px;
    width: 70px;
   
}

#col2 img {
    height: 70px;
    width: 120px;
   
}


#col3 img {
    height: 70px;
    width: 100px;
   
}

#col4 {
    margin-bottom: 10px;
    align-items: center;
}

#cred {
    
     padding-left: 0px; 
}

}	