*{
	margin:0;
	padding: 0;
}

body{
	background-image: url(../img/NFL.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

img{
	object-fit: cover;
}

.topo{
	height: 22px;
	width: 100%;
	background-color: black;

}

.line{
	height: 3px;
	width: 100%;
	background-color: #002754;
}

.topo_int{
	width: 100%;
	max-width: 980px;
	display: flex;
	margin: auto;
	height: 100px;
	
}

.topo_tittle{
	height: 100px;
	width: 500px;
	margin: auto;
	background-color: black;
	border-radius: 0px 0px 100px 100px;
	color: white;
	text-align: center;
	font-size: 39px;
	line-height: 100px;
	font-family: Kelly Slab;
}

j{
	color: #3f5d7e;
}

.menu{
	height: 35px;
}

.menu_int{
	width: 100%;
	max-width: 980px;
	display: flex;
	margin: auto;
	height: 35px;
	background-color: black;
	margin-top: 25px;
	color: white;
	font-family: Kelly Slab;
	font-size: 18px;
	line-height: 35px;
}

nav ul {
	display: flex;
	list-style: none;

}

nav ul li{
	padding-left: 27px;
	padding-right:27px;
}

nav a {
	text-decoration: none;
	line-height: 35px;
	color: #a9aaab;
	cursor: pointer;
	font-size: 15px;
}

#inicio{
	color: white;
	background-color: #25466d;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}


#sobre:hover{
	background-color: #25466d;
}

#blog:hover{
	color: white;
	text-align: center;
	padding-left: 17px;
	background-color: #25466d;
}

.banner{
	height: 410px;
}

.banner_int{
	height: 410px;
	width: 100%;
	max-width: 980px;
	display: flex;
	margin:auto;
	
	
}

#banner_1{
	display: flex;
	height: 410px;
	width: 100%;
}

#slide_1{
	display: flex;
	flex: 3;
	height: 410px;
}

#slide_1 img{
	
	object-fit: cover;

}

#slide_2 img{
	height: 410px;
	width: 100%;
	object-fit: cover;
}

.slick-slide img{
	width: 70%;
	    height: 410px;

}

.slick-slide{
	display: flex;
	flex: 4;
}

.slick-initialized .slick-slide
{
    display: flex;
}

ul.slick-dots{
	display: none !important;
}

li.slick-active {
	display: none;
}




#cont_1{
	display: flex;
	flex: 1;
	background-color: #002754;
	flex-direction: column;
}

#cont_2{
	display: flex;
	flex: 1;
	background-color: #002754;
	flex-direction: column;
}


button.slick-prev{
	font-size: 0;
	border:none;
	height: 51px;
	width: 25px;
	background-color:transparent;
	position: absolute;
}

button.slick-next {
   font-size: 0;
	border:none;
	display: none;
}

#cont_1{
	display: flex;
	flex: 1;
	
}

#text_tittle{
	font-family: Kelly Slab;
	color: white;
	font-size: 21px;
	padding: 10px;
}

#cont_text{
	font-family: Kelly Slab;
	color: white;
	font-size: 15px;
	padding: 10px;
}

.text_absolute{
	position: absolute;
	height: 100px;
	width: 675px;
	margin-top: -130px;
	margin-left: 185px;
	border:3px solid black;
	background-color: #00132A;
}

.cont_ingress{
	font-size: 31px;
	color: #FFFFFF;
	font-family: Fredericka the Great;
	height: 76px;
	width: 580px;
	 margin-top: 12px;
    margin-left: 45px;
}